body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.gallery-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0; /* Gambar akan muncul dengan efek fade-in */
    transition: opacity 1s;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    text-align: center;
}

#modal-img {
    max-width: 90%;
    max-height: 80%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px #000;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}